.app {

    background-color: red;
    width: 700px;
    height: 450px;

}

.app::after {

    display: table;
    clear: both;
    content: "";
}

.left_arrow, .central,.right_arrow {

    float: left;
    height: 100%;
}

.left_arrow,.right_arrow{

    width: 10%;
    background-color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left_arrow i,.right_arrow i{

    font-size: 50px;
}

.central {

    width: 80%;
    background-color: rgb(182, 127, 255);
    position: relative;

}



.central .dots_container {

    width: 200px;
    height: 40px;
    background-color: rgba(68, 67, 65, 0.658);
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    
}

.dot_image {

    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: black;
    margin: 0 10px;
}
